* {
    padding: 0px;
    margin: 0px;
}

/* bacground */

.background{
    height: 100vh;
    width: 100vw;
    background-color: #2148c0;
    position: absolute;
    overflow: hidden;
    z-index: -1;
}


.bacground_shapes_right {
    background-color: #264ECA;
    position: absolute;
    bottom: -22%;
    left: -5%;
    border-radius: 100%;
    width: 40%;
    height: 75%;
    
}

.bacground_shapes_right2{
    background-color: #2148c0;
    position: absolute;
    bottom: -22%;
    left: -5%;
    border-radius: 100%;
    width: 27%;
    height: 45%;

}

.bacground.bacground_shapes_left {
    position: absolute;
    right: 0%;
    top: -1%;
    width: 45%;
    height: 80%;

}


/* bacground */

/* registration_form */

.registration_elements {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 100vh;
}

/* button */

.toggle {
    position: absolute;
    top: 50px;
    width: 60px;
    height: 30px;
    background-color: rgb(33, 72, 192);
    border-radius: 30px;
    cursor: pointer;
    transition: background-color 0.3s;
    z-index: 1;
}

.toggle:before {
    content: "";
    position: absolute;
    top: 3px;
    left: 3px;
    width: 24px;
    height: 24px;
    background-color: white;
    border-radius: 50%;
    transition: transform 0.3s;
}

.toggle.checked {
    background-color: #161616;
}

.toggle.checked:before {
    transform: translateX(30px);
}


/* button */

.registration_elements__registration_form {
    position: relative;
    background-color: rgb(255, 255, 255);
    height: 550px;
    width: 800px;
    border-radius: 8px;
    display: flex;
    flex-direction: column;
    padding: 0px 50px 0px 50px;
}

.logo {
    color: rgb(33, 72, 192);
    align-self: center;
    height: 50px;
    width: 50px;
    padding: 20px;
}

.registration_form__registration_form_header {
    align-self: center;
    margin-top: 0px;
    font-size: 20px;
    font-family: Arial, Helvetica, sans-serif;
    color: #666666;
}

label {
    display: block;
    margin-top: 40px;
    font-size: 20px;
    font-family: Arial, Helvetica, sans-serif;
    color: #666666;
}

input {
    margin-top: 20px;
    padding: 0px 10px 0px 10px;
    height: 50px;
    width: 780px;
    font-size: 20px;
    background-color: #F5F5F5;
    border: 1px solid rgb(207, 207, 207);
    border-radius: 10px;
}

input:valid:focus {
    outline: none;
    border-color: green;
    box-shadow: 0 0 5px green;
}

input:invalid:focus {
    outline: none;
    border: 2px solid rgb(255, 0, 0);
    /* Или любой другой эффект */
    box-shadow: 0 0 5px rgba(255, 0, 0, 0.5);
}

#password {
    position: relative;
    width: 91.2%;
    padding: 0px 60px 0px 10px;
}

form {
    position: relative;
}

.icon {
    cursor: pointer;
    position: absolute;
    top: 59%;
    right: 2%;
}

a {
    position: relative;
    top: 3%;
    left: 80.9%;
    color: #666666;
    font-size: 20px;
    font-family: Arial, Helvetica, sans-serif;
    text-decoration: none;
}

.registration_form__sing_in {
    cursor: pointer;
    margin-top: 40px;
    height: 70px;
    width: 100%;
    background-color: rgb(33, 72, 192);
    color: #ffffff;
    font-size: 20px;
    font-family: Arial, Helvetica, sans-serif;
    border-radius: 10px;
    border-color: rgb(33, 72, 192);
}

/* registration_form */